<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wy.dao.HouseDao">
	<resultMap id="houseMap" type="com.wy.model.sys.HouseEntity">
		<id column="id" property="id" />
		<result column="buildId" property="buildId" />
		<result column="houseCode" property="houseCode" />
		<result column="houseName" property="houseName" />
		<result column="houseLevel" property="houseLevel" />
		<result column="houseArea" property="houseArea" />
		<result column="houseType" property="houseType" />
		<result column="face" property="face" />
	</resultMap>

	<!-- 获取房屋列表 -->
	<select id="houseList" resultMap="houseMap">
	<![CDATA[select * from houses]]>
		<where>
			<if test="houseId != null and houseId != ''">
				id = #{houseId}
			</if>
			<if test="houseName != null and houseName != ''">
				and houseName = #{houseName}
			</if>
			<if test="houseCode != null and houseCode != ''">
				and houseCode = #{houseCode}
			</if>
		</where>
	    <![CDATA[ order by id ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取房屋列表的总量 -->
	<select id="houseSize" resultType="Integer">
	    <![CDATA[select count(*) from houses]]>
	    <where>
			<if test="houseId != null and houseId != ''">
				id = #{houseId}
			</if>
			<if test="houseName != null and houseName != ''">
				and houseName = #{houseName}
			</if>
			<if test="houseCode != null and houseCode != ''">
				and houseCode = #{houseCode}
			</if>
		</where>
	</select>
	<!-- 新建用户信息 -->
	<insert id="insertHouse">
		INSERT INTO `houses` (`buildId`, `houseCode`, `houseName`, `houseLevel`, `houseArea`, `houseType`, `face`)
		VALUES (#{houseEntity.buildId}, #{houseEntity.houseCode}, #{houseEntity.houseName}, #{houseEntity.houseLevel}, #{houseEntity.houseArea}, #{houseEntity.houseType}, #{houseEntity.face});
	</insert>
	<!-- 更新用户信息 -->
	<update id="updateHouse">
		update houses set
		buildId = #{houseEntity.buildId},
		houseCode = #{houseEntity.houseCode},
		houseName = #{houseEntity.houseName},
		houseLevel = #{houseEntity.houseLevel},
		houseArea = #{houseEntity.houseArea},
		houseType = #{houseEntity.houseType},
		face = #{houseEntity.face}
		<where>
			id = #{houseEntity.id}
		</where>
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteHouse">
		delete from houses
		<where>
			<if test="hids !=null">
				id in
				<foreach collection="hids" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>
</mapper>